</main>

<script src="assets/js/app.js"></script>

<div class="modal hide" id="modal-one">
    <div class="modal-dialog">
        <div class="modal-title">Modal one</div>
        <div class="modal-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem qui aperiam esse consequuntur ullam. Numquam, quaerat ad vero alias laudantium nam voluptatem tenetur quae enim dolore accusantium consequuntur nobis commodi?</div>
        <div class="modal-footer">
            <button class="modal-button" onclick='modalClose("modal-one");'>Close</button>
        </div>
    </div>
</div>

<div class="modal hide" id="modal-two">
    <div class="modal-dialog">
        <div class="modal-title">Modal two</div>
        <div class="modal-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem qui aperiam esse consequuntur ullam. Numquam, quaerat ad vero alias laudantium nam voluptatem tenetur quae enim dolore accusantium consequuntur nobis commodi?</div>
        <div class="modal-footer">
            <button class="modal-button" onclick='modalClose("modal-two");'>Close</button>
        </div>
    </div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7WZF15NX96"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-7WZF15NX96');
</script>

</body>
</html>