<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@@title</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="navbar">
            <a href="#" class="navbar-brand">
                <img src="assets/images/header.png" width="150" alt="Brand logo">
            </a>
            <div class="navbar-burger">
                <span class="navbar-burger__item"></span>
            </div>
            <ul class="navbar-menu">
                <li class="navbar-menu__item">
                    <a href="neomo.html" class="navbar-menu__link">Neomo</a>
                </li>    
            </ul>
        </div>
    </div>
</header>
<main>