<div class="scroll-up">
    <span class="scroll-up-btn"></span>
  </div>

  <script src="assets/js/bootstrap.bundle.js"></script>
  <script src="assets/js/jquery-3.6.1.js"></script>
  <script src="assets/js/app.js"></script>@@if (context.page_id === "form"){<script src="assets/js/jquery.mask.js"></script><script src="assets/js/jquery.nice-select.js"></script><script src="assets/js/countdown.js"></script><script src="assets/js/form.js"></script>}@@if (context.page_id === "javascript"){<script src="assets/js/wow.min.js"></script><script src="assets/js/aos.js"></script><script>new WOW().init(); AOS.init();</script>}

  @@include("analytics.html")
</body>
</html>