@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

.navbar-container {
    width: 100%;
    max-width: 1165px;
    padding: 33px 0 24px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-left: 40px;
    font-size: 24px;
    line-height: 30px;
    color: #B08EAD;
    transition: transform .5s;
}

.nav-item:hover {
    transform: scale(1.2);
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item:last-child {
    margin-left: 45px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.product {
    background: linear-gradient(to bottom, #C9ADC6 60%, #D6BBD3 40%);
    min-height: 817px;
}

.product-container {
    width: 100%;
    max-width: 1149px;
    padding: 72px 0 70px 0;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.product-card {
    padding: 124px 111px 119px 40px;
    width: 425px;
    height: 450px;
    background: #B08EAD;
    margin-top: 110px;
    margin-left: -127px;
    color: #fff;
}

.product-container.cube-decoration:before {
    position: absolute;
    bottom: 0;
    right: 50px;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: #A78BA4;
}

.product-container.cube-decoration:after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: #B08EAD;
}

.product-label {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-title {
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 22px;
}

.product-button {
    background: none;
    border: none;
    color: inherit;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.product-button:after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    margin-top: 13px;
    background: #fff;
    transition: width .5s;
}

.product-button:hover::after {
    width: 100%;
}

.about-one__container {
    padding: 75px 0 75px 0;
    width: 100%;
    max-width: 1178px;
    margin: 0 auto;
}

.about-one__card {
    display: flex;
    justify-content: space-between;
}

.about-one__img {
    width: 100%;
}

.about-one__card-item { 
    width: 368px;
    background: #CEB3CB;
}

.about-one__title {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    margin-bottom: 13px;
}

.about-one__subtitle {
    font-size: 26px;
    line-height: 38px;
    color: #5F4D5D;
    margin-bottom: 17px;
}

.about-one__button {
    background: none;
    padding: 16px 29px 14px 29px;
    border: 1px solid #B99BB6;
    border-radius: 25px;
    font-family: 'Roboto';
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    margin-bottom: 64px;
    transition: background .4s, color .4s;
}

.about-one__button:hover {
    background: #B99BB6; 
    color: #fff;
}

.about-one__content {
    width: 100%;
    max-width: 747px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.about-one__card-content {
    padding: 23px 0 24px 23px;
}

.about-one__card-title {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.about-one__card-button {
    background: 0;
    border: 0;
    font-size: 17px;
    line-height: 30px;
    padding: 0;
    color: #FFFFFF;
}

.product-container.two {
    width: 100%;
    max-width: 938px;
    padding: 75px 0;
    margin: 0 auto;
    display: flex;
}

.product-card.two {
    margin-left: 0;
    margin-right: -58px;
    padding-right: 58px;
}

.product-img_wrapper.two {
    z-index: 2;
}

.product.two {
    background: #CEB3CB;
    min-height: 825px;
}

.experience-container {
    width: 100%;
    max-width: 1265px;
    margin: 0 auto;
}

.experience-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D7B7D4;
    padding: 39px 0 40px 0;
}

.experience-row__item {
    width: 47%;
}

.experience-row:first-child {
    margin-top: 75px;
}

.experience-row:last-child {
    border-bottom: 0;
}

.experience-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    margin-bottom: 10px;
}

.experience-description {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    margin-bottom: 10px;
}

.about-one__button#experience {
    margin-top: 10px;
}