@media only screen and (max-width: 1399px){
    .short-man {
        display: none;
    }
}

@media only screen and (max-width: 1199px){
    .delivery-slider {
        max-width: 744px;
    }
}

@media only screen and (max-width: 991px){
    :root {
        --margin-bottom: 55px;
    }

    .master-tao .nav-link {
        font-size: 24px;
    }

    .section-margin {
        margin-left: 0;
        margin-right: 0;
    }

    .first-screen-slider__item {
        border-radius: 0;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .master-tao .navbar {
        margin: 20px 0;
        padding: 0;
    }

    .master-tao .navbar-collapse {
        padding: 37px 12px 60px 12px;
        margin: 19px -12px -20px -12px;
        background: var(--bg-primary);
    }

    .master-tao .navbar-collapse .btn-orange {
        margin: 0 auto;
    }

    .master-tao .nav-item {
        text-align: center;
        margin-bottom: 15px;
    }

    .advantages {
        border-radius: 0;
    }

    .txt {
        border-radius: 0;
    }

    .first-screen-title {
        font-size: 32px;
    }

    .first-screen-subtitle {
        font-size: 16px;
    }

    .template-title h3 {
        font-size: 24px;
    }

    .about-content {
        font-size: 16px;
    }
    
    .footer-nav {
        display: none;
    }

    .txt-content {
        margin-top: 36px;
    }

    .delivery-slider {
        max-width: 372px;
    }
}

@media only screen and (max-width: 767px){
    .first-screen-slider__item {
        min-height: 600px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 575px){
    .first-screen-slider__item {
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
        min-height: 552px;
    }

    .form {
        padding: 50px 20px;
    }

    .delivery-slider {
        max-width: 360px;
    }
}

@media only screen and (max-width: 385px){
    .delivery-slider {
        margin-right: -10px;
        margin-left: -5px;
    }
}