:root {
    --color-orange: #E58D35;
    --color-white: #fff;
    --color-grey: #CBCBCB;
    --color-green: #89C249;
    --bg-primary: #363A4D;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

.master-tao {
    background: #282B38;
    font-family: "Proxima Nova", sans-serif;
}

main {
    margin: 0 50px;
}

.master-tao .nav-link {
    color: var(--color-white);
    font-size: 16px;
    line-height: 146%;
}

.master-tao .nav-item {
    margin-right: 20px;
}

.master-tao .nav-item:last-child {
    margin-right: 0;
}

.master-tao .navbar {
    margin: 27px 0 40px 0;
}

.first-screen {
    position: relative;
    margin-bottom: 97px;
}

.first-screen-slider__item {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 163px 0 0 0;
    min-height: 700px;
    border-radius: 20px;
}

.first-screen-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 126%;
    text-transform: uppercase;
    color: var(--color-white);
    max-width: 463px;
}

.first-screen-subtitle {
    font-size: 20px;
    line-height: 135.5%;
    color: var(--color-white);
    max-width: 345px;
    margin-bottom: 37px;
}

.first-screen-slider__item.bg-1 {
    background-image: url("../images/first-screen/first-screen-1.png")
}

.first-screen-slider__item.bg-2 {
    background-image: url("../images/first-screen/first-screen-2.png")
}

.first-screen-slider__item.bg-3 {
    background-image: url("../images/first-screen/first-screen-3.png")
}

.first-screen-slider__item.bg-4 {
    background-image: url("../images/first-screen/first-screen-4.png")
}

.master-tao .slick-prev {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
    z-index: 5;
    height: 30px;
    width: 30px;
    transform: rotate(-44deg);
    border: 3px solid var(--color-white);
    border-right-style: none;
    border-bottom-style: none;
    background: none;
    font-size: 0;
}

.master-tao .slick-next {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(0, -50%);
    z-index: 5;
    height: 30px;
    width: 30px;
    transform: rotate(135deg);
    border: 3px solid var(--color-white);
    border-right-style: none;
    border-bottom-style: none;
    background: none;
    font-size: 0;
}

.master-tao .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    margin-bottom: 43px;
}

.master-tao .slick-dots li {
    list-style: none;
    margin-right: 26px;
}

.master-tao .slick-dots li:last-child {
    margin-right: 0;
}

.master-tao .slick-dots li button {
    width: 8px;
    height: 8px;
    padding: 0;
    background: transparent;
    border: 2px solid var(--color-white);
    font-size: 0;
    border-radius: 90px;
    transition: background .5s;
}

.master-tao .slick-dots .slick-active button {
    background: var(--color-white);
}

.btn-orange {
    background: var(--color-orange);
    color: var(--color-white);
    border: none;
    border-radius: 90px;
    font-weight: 600;
    font-size: 16px;
    display: inline-flex;
    padding: 14px 27px;
    transition: opacity .5s;
}

.btn-orange:hover {
    opacity: .7;
}

.btn-orange img {
    margin-left: 49px;
    margin-right: -10px;
}

.form {
    margin-top: 30px;
    background: var(--bg-primary);
    padding: 70px 50px 41px;
    border-radius: 20px;
    position: relative;
}

.form-input {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 19px 20px;
    margin-bottom: 20px;
}

.form-input:focus {
    outline: none;
}

.form-label {
    color: var(--color-white);
    font-weight: 600;
    font-size: 15px;
    line-height: 126%;
}

.btn-upload {
    color: var(--color-white);
    width: 100%;
    background: none;
    border: none;
    border: 1px dashed rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    padding: 12px;
    font-size: 15px;
    line-height: 126%;
    margin-bottom: 26px;
}

.input-file {
    display: none;
}

.step1-file-name {
    color: var(--color-white);
    font-size: 15px;
    line-height: 126%;
    margin-bottom: 18px;
}

.template-title {
    color: var(--color-white);
    position: relative;
    padding-bottom: 19px;
    margin-bottom: 49px;
}

.template-title h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 124.5%;
    text-transform: uppercase;
}

.template-title:before {
    width: 85px;
    height: 2px;
    content: "";
    background: var(--color-green);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.steps {
    position: absolute;
    top: -30px;
    left: 50px;
    display: flex;
}

.steps-item {
    width: 60px;
    height: 60px;
    background: #282B38;
    border-radius: 90px;
    border: 2px solid var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 41px;
    color:#BFBFBF;
    font-weight: 700;
    font-size: 24px;
    line-height: 126%;
    text-transform: uppercase;
}

.steps-item.active {
    color: var(--color-white);
    background: var(--color-green);
}

.steps-item:last-child {
    margin-right: 0;
}

.input-checkbox {
    accent-color: var(--color-white);
    width: 24px;
    height: 24px;
}