.flex-container {
    display: flex;
    background-color: #cacfc1;
    margin-bottom: 30px;
}

.flex-container__item {
    width: 100px;
    background: rgb(168, 162, 162);
    padding: 15px;
    text-align: center;
    border: rgb(156, 236, 27) solid 5px;
    font-size: 30px;
    color: #fff;
}

.flex-container__item:nth-child(1) {
    background: #82898F;
}

.flex-container__item:nth-child(2) {
    background: #6C6874;
}

.flex-container__item:nth-child(3) {
    background: #1B5583;
}

.flex-container__item:nth-child(4) {
    background: #CB2821;
}

.flex-container__item:nth-child(5) {
    background: #C1876B;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-sa {
    justify-content: space-around;
}

.flex-jc-se {
    justify-content: space-evenly;
}

.flex-jc-fs {
    justify-content: flex-start;
}

.flex-jc-fe {
    justify-content: flex-end;
}

.flex-jc-center {
    justify-content: center;
}

.flex-fd-c {
    flex-direction: column;
}

.flex-fd-cr {
    flex-direction: column-reverse;
}

.flex-fd-r {
    flex-direction: row;
}

.flex-fd-rr {
    flex-direction: row-reverse;
}

.flex-aa-c {
    align-items: center;
}

.flex-as-fe {
    align-self: flex-end;
}

.flex-as-fs {
    align-self: flex-start;
}

.flex-grow2 {
    flex-grow: 2;
}