.open-sans {
    font-family: 'Open Sans', sans-serif;
    padding: var(--padding);
}

.advent-pro {
    font-family: 'Advent Pro', sans-serif;
    padding: var(--padding);
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    padding: var(--padding);
}

.fw-100 {
    font-weight: 100;
    color: var(--yellow);
    font-size: var(--font-size);
}

.fw-200 {
    font-weight: 200;
    color: var(--orange);
    font-size: var(--font-size);
}

.fw-300 {
    font-weight: 300;
    color: var(--blue);
    font-size: var(--font-size);
}

.fw-400 {
    font-weight: 400;
    color: var(--red);
    font-size: var(--font-size);
}

.fw-500 {
    font-weight: 500;
    color: var(--green);
    font-size: var(--font-size);
}

.fw-600 {
    font-weight: 600;
    color: var(--pink);
    font-size: var(--font-size);
}

.fw-700 {
    font-weight: 700;
    font-size: var(--font-size);
}

.fw-800 {
    font-weight: 800;
    font-size: var(--font-size);
}

.fw-900 {
    font-weight: 900;
    font-size: var(--font-size);
}