:root {
    --purple: #7B1FA2;
    --cyan: #0097A7;
    --yellow: #FFFF00;
    --orange: #FF6F00;
    --blue: #651FFF;
    --red: #D50000;
    --green: #1B5E20;
    --pink: #C2185B;
    --padding: 0 0 15px 0;
    --font-size: 25px;
}