* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BDD7E8;
}

.floor {
    fill: transparent;
    stroke: transparent;
}

.floor:hover {
    fill: #303f9f83;
    stroke: #311B92;
}