* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BDD7E8;
}

svg {
    width: 100%;
    height: 100vh;
}

.floor {
    fill: transparent;
    stroke: transparent;
}

.floor.fill {
    fill: #303f9f83;
    stroke: #311B92;
}